<md-sidenav md-component-id="left" class="md-sidenav-left" md-whiteframe="1" flex>
  <md-toolbar class="md-theme-indigo" layout="column" layout-align="center start" layout-padding>
    <div class="logo">
      <a ui-sref="support-customer" style="color: white; text-decoration: none">
        <span>Super spa</span>
      </a>
    </div>
  </md-toolbar>
  <md-content layout="column">
    <md-list class="sidebar-left-menu">
      <md-list-item>
        <a ui-sref="marketing" layout="row" layout-fill layout-align="start center" layout-padding>
          <ng-md-icon icon="account_box"></ng-md-icon>
          <p flex="80">Thương mại {{test}}</p>
        </a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <a ui-sref="support-customer" layout="row" layout-fill layout-align="start center" layout-padding>
          <ng-md-icon icon="account_box"></ng-md-icon>
          <p flex="80">Khách hàng</p>
        </a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item layout-padding>
        <a ui-sref="support-customer" layout="row" layout-align="start center" layout-fill layout-padding>
          <ng-md-icon icon="account_box"></ng-md-icon>
          <p flex="80">Tài chính</p>
        </a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item layout-padding>
        <a ui-sref="support-customer" layout="row" layout-align="start center" layout-fill ng-click="" layout-padding>
          <ng-md-icon icon="account_box"></ng-md-icon>
          <p flex="80">Lịch hẹn</p>
        </a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item layout-padding>
        <a ui-sref="support-customer" layout="row" layout-align="start center" layout-fill ng-click="" layout-padding>
          <ng-md-icon icon="account_box"></ng-md-icon>
          <p flex="80">Lịch hẹn</p>
        </a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item layout-padding>
        <a ui-sref="support-customer" layout="row" layout-align="start center" layout-fill ng-click="" layout-padding>
          <ng-md-icon icon="account_box"></ng-md-icon>
          <p flex="80">Lịch hẹn</p>
        </a>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>